* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass";
  font-weight: 600;
}
html {
  font-size: 67.5%;
}
body {
  font-size: 2rem;
  width: 99vw;
  overflow-x: hidden;
}
a {
  cursor: pointer;
}
