$light-red: hsl(356, 98%, 59%);
$very-light-red: hsl(355, 100%, 72%);
$headings: hsl(208, 49%, 24%);
$white-text: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

$very-light-red-button: hsl(13, 100%, 72%);

// Background gradient - body:

$dark-gray-blue: hsl(237, 17%, 21%);
$dark-blue: hsl(237, 23%, 32%);
